*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Segoe UI", sans-serif;
}

html, body, #root{
  height:100%;
  width:100%;
}

body{
  background:#f1f5f9;
}

.app-container{
  height:100vh;
  display:flex;
  flex-direction:column;
}

.header{
  height:80px;
  background:#ffffff;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 25px;
  font-size:20px;
  font-weight:600;
  border-bottom:1px solid #e5e7eb;
  box-shadow:0 2px 6px rgba(0,0,0,0.05);
}

.header-left{
  font-size: 25px;
  color:#1e293b;
  display:flex;
  align-items:center;
  gap:20px;
}

.header-right{
  display:flex;
  align-items:center;
  gap:15px;
}


.url-box{
  display:flex;
  align-items:center;
  color:#1e293b;
  gap:8px;
  font-size:14px;
  font-weight:500;
}

.url-box input{
  padding:6px 10px;
  color: #1e293b;
  background:#ffffff;
  border:1px solid #d1d5db;
  border-radius:6px;
  width:260px;
  font-size:13px;
}


.btn{
  background:#2e405c;
  color:white;
  border:none;
  padding:8px 16px;
  border-radius:6px;
  cursor:pointer;
  transition:0.2s;
}

.btn:hover{
  background:#1e40af;
}

.main-layout{
  flex:1;
  display:grid;
  grid-template-columns:220px 1fr 300px;
  gap:20px;
  padding:20px;
  height:calc(100vh - 80px);
  overflow:hidden;
}

.sidebar{
  background:#2e405c;
  color:white;
  padding:20px;
  border-radius:10px;
}

.sidebar h5{
  margin-top:20px;
  margin-bottom:12px;
  font-size:14px;
  border-bottom:1px solid rgba(255,255,255,0.2);
  padding-bottom:8px;
  letter-spacing:0.5px;
}

.sidebar ul{
  list-style:none;
}

.sidebar li{
  padding:10px;
  margin-bottom:6px;
  cursor:pointer;
  border-radius:6px;
  transition:0.2s;
}

.sidebar li:hover{
  background:#3b4f6b;
}

.menu-item{
  display:flex;
  align-items:center;
  gap:20px;
  padding:10px;
  cursor:pointer;
  border-radius:6px;
  margin-bottom:5px;
}

.menu-item:hover{
  background:#3b4f6b;
}

.menu-item span{
  flex:1;
}

.submenu{
  list-style:none;
  padding-left:25px;
}

.submenu li{
  padding:8px 0;
  font-size:14px;
  color:#8faaca;
  cursor:pointer;
}

.submenu li:hover{
  color:white;
}


.dashboard{
  background:#ffffff;
  padding:25px;
  border-radius:10px;
  box-shadow:0 4px 10px rgba(0,0,0,0.05);
  height:100%;
}

.dashboard h2{
  margin-bottom:15px;
  color:#1e293b;
}

.animation-grid{
  display:flex;
  gap:20px;
  flex-wrap:wrap;
  margin-top:20px;
}

.animation-card{
  width:300px;
  border:1px solid #e5e7eb;
  border-radius:10px;
  overflow:hidden;
  cursor:pointer;
  background:#ffffff;
  transition:transform 0.2s, box-shadow 0.2s;
}

.animation-card:hover{
  transform:translateY(-5px);
  box-shadow:0 8px 20px rgba(0,0,0,0.08);
}

.animation-card img{
  width:100%;
  height:180px;
  object-fit:cover;
}

.animation-card h4{
  padding:12px;
  text-align:center;
  font-size:15px;
  color:#1e293b;
}

.animation-box{
  margin-top:20px;
  height:500px;
  border:2px dashed #cbd5e1;
  border-radius:10px;
  display:flex;
  align-items:center;
  justify-content:center;
  overflow: hidden;
  background: #f8fafc;
}

.animation-box iframe{
  width:100%;
  height:100%;
  border:none;
}

.parameters{
  background:#ffffff;
  padding:20px;
  border-radius:10px;
  box-shadow:0 4px 10px rgba(0,0,0,0.05);
  height:100%;
  overflow-y:auto;
}

.parameters h3{
  margin-bottom:20px;
  font-size:18px;
  border-bottom:1px solid #e5e7eb;
  padding-bottom:10px;
  color:#1e293b;
}

.form-group{
  color:#1e293b;
  display:flex;
  flex-direction:column;
  margin-bottom:14px;
}

.form-group label{
  font-size:13px;
  color:#475569;
  margin-bottom:5px;
}

.form-group input{
  padding:8px 10px;
  background:#ffffff;
  color: #1e293b;
  border:1px solid #cbd5e1;
  border-radius:6px;
  font-size:14px;
  transition:0.2s;
}

.form-group input:hover{
  border-color:#b8a194;
}

.form-group input:focus{
  outline:none;
  border-color:#2e405c;
  box-shadow:0 0 4px rgba(46,64,92,0.3);
}

.form-group select{
  padding:8px 10px;
  background:#ffffff;
  border:1px solid #cbd5e1;
  border-radius:6px;
  font-size:14px;
  color:#1e293b;
  appearance:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  background-image:url("data:image/svg+xml;utf8,<svg fill='%2394a3b8' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat:no-repeat;
  background-position:right 10px center;
  background-size:16px;
  cursor:pointer;
}

.form-group input[type="number"]{
  padding:8px 10px;
  background:#ffffff;
  border:1px solid #cbd5e1;
  border-radius:6px;
  font-size:14px;
  color:#1e293b;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance:none;
  margin:0;
}

input[type=number]{
  appearance:textfield;
  -moz-appearance:textfield;
}

.form-group select:hover,
.form-group input[type="number"]:hover{
  border-color:#354459;
}

.form-group select:focus,
.form-group input[type="number"]:focus{
  outline:none;
  border-color:#2e405c;
  box-shadow:0 0 4px rgba(46,64,92,0.3);
}

.submit-Btn{
  width:100%;
  margin-top:10px;
  background:#2e405c;
  color:white;
  border:none;
  padding:10px;
  border-radius:6px;
  font-size:14px;
  cursor:pointer;
  transition:0.2s;
}

.submit-Btn:hover{
  background:#1e40af;
}

.parameters::-webkit-scrollbar{
  width:6px;
}

.parameters::-webkit-scrollbar-thumb{
  background:#cbd5e1;
  border-radius:6px;
}
